body {
  background-color: rgb(32, 35, 36);
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 6%;
}

h1, h2 {
  color: white;
}

div.pro-data {
  z-index: 1;
  background-image: url('./src/Comic-book-background-png-715x715.png');
  background-color: rgb(203, 232, 243); /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;  
}

.ul {
  margin-left: 30%;
  margin-right: 30%;
}

.avatar {
  width: 10vmax;
  height: 20%;
  border: 2px solid black;
  border-radius: 10%;
  position: sticky;
  box-sizing: border-box;
  top: 15%;
  margin-right: .25vw;
  margin-left: 5vw;
}

.cert {
  width: 16vmax;
  height: 12.5vmax;
  border: 2px solid black;
  border-radius: 10%;
  position: absolute;
  box-sizing: border-box;
  top: 15%;
  margin-right: 1vw;
  margin-left: .25vw;
}

a:hover {
  background-color: rgb(122, 145, 145);
  font-size: 20px;
  color: white;
}

div.comments {
  position: relative;
  z-index: 2;
  background-color: rgb(218, 252, 218);
  margin-left:30%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border-radius: 48%;
  box-shadow: 3px 3px rgb(94, 122, 100), -.6em 0 .4em rgb(41, 90, 36);
}

label {
  display: inline-block;
}

input[type='text'], textarea {
  display: inline-block;
  width: 70%;
  margin-bottom: 3px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

@media (max-width: 657px) {
  .feedback {
     flex-direction: column-reverse;
  }
}

div.feedback {
  background-color: rgb(218, 252, 218);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: center;
  border-radius: 48%;
  border: 2px solid white;
  box-shadow: 3px 3px rgb(94, 122, 100), -.6em 0 .4em rgb(41, 90, 36);
 
}



div.pro-data {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  padding-top: 3%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: center;
  font-family: 'Arial', Serif;
  background-color: rgb(120, 209, 236);
  box-shadow: 3px 3px rgb(94, 94, 122), -.6em 0 .4em rgb(55, 36, 90);
}

div.stats {
  font-family: 'Lucida Console', serif;
  text-align: center;
  background-color: rgb(214, 219, 221);
  margin: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  box-shadow: 2px 2px rgb(179, 179, 184), -.5em 0 .4em rgb(137, 133, 145);
}